node_modules

# Editors
.idea/
.zed/
.vscode/

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build
dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Workers
.dev.vars*
!.dev.vars.example

# Turbo
.turbo
